body{
	padding: 20px;
	background-color: #fafafa;
	color: #333;
	font-size: 14px;
}
.image{
	background-image: url(images/img.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 200px;
	width: 500px;
}
ul,li{
	list-style-type: none;
}