<section class="catalog catalog--wrapper similar">

	<h2 class="catalog__title wrapper">Похожие объекты</h2>

	<ul class="catalog__list">

	{% assign collection = site.posts %}
	{% for article in collection limit: 4 %}
		{% unless page.url == article.url %}

		<li class="catalog__item catalog__item--similar main-item">
			<a class="main-item__link about" href="{{ article.url }}" style="background-image: url(image/{{ article.image }}/o_1.jpg);">
					<span class="about__text about__text--type">{{ article.type }}</span>
					<h3 class="about__title">{{ article.title }}</h3>
					<span class="about__text about__text--adress">{{ article.adress }}</span>
					<p class="about__text about__text--area">{{ article.area }}</p>
			</a>
		</li>

		{% endunless %}
	{% endfor %}

	</ul>

</section>