<section class="modal">
	<div class="wrapper">

			<form method="post">
					<p>
						<label for="modal__name">Ваше имя</label>
						<input type="text" name="modal-name" id="modal__name">
					</p>
					<p>
						<label for="modal__number">Ваш телефон</label>
						<input type="text" name="modal-number" id="modal__number">
					</p>
					<button type="submit">Заказать звонок</button>
				</form>
		
				<button class="modal__button modal__button--close" type="button">
					<span class="visualy-hidden">Закрыть модальное окно</span>
				</button>

	</div>

</section>