<footer class="to-call">

	<div class="wrapper">

		<h2 class="to-call__title">Бесплатный подбор объекта</h2>
		<p class="to-call__description">Оставьте заявку, и наш специалист бесплатно подберет объект под Ваши цели</p>
		<form class="to-call__form form" method="GET">
			<p class="form__main">
				<label class="visualy-hidden" for="form__input">Ваш номер телефона</label>
				<input class="form__input" type="text" name="form__input" placeholder="Ваш номер телефона">
			</p>
			<button class="button form__button" type="button">Подобрать объект</button>
		</form>

	</div>

</footer>