<header class="page-header" style="background-image: url(../img/main.jpg);">

	<h1 class="visualy-hidden">Подбор помещений</h1>

	<div class="page-header__top top-line">
		<div class="top-line__wrapper wrapper">
			<a class="top-line__logo">
				<img class="top-line__logo-image" src="img/logotype.png" width="187" height="32" alt="Логотип компании Miles&Yards">
			</a>
			<ul class="top-line__contacts">
				<li>
					<p>Контактный номер: 8(812)213-72-02</p>
				</li>
				<li>
					<button class="button top-line__button" type="button">Обратный звонок</button>
				</li>
			</ul>
		</div>
	</div>

	<b class="page-header__title">Подберем объект для Вас и Вашего бизнеса</b>
	<button class="button page-header__button" type="button">
		<span></span>Подобрать объект</button>
	<small class="page-header__description">Бесплатный подбор объекта нашим специалистом</small>

	<form class="page-header__filters sort" method="get">
		<div class="wrapper sort__wrapper">
			<fieldset class="sort__fieldset">
				<legend class="visualy-hidden">Регион</legend>
				<select class="sort__select">
					<option value="0">Регион</option>
					<option value="spb">Санкт-Петербург</option>
					<option value="moscow">Москва</option>
					<option value="omoscow">Московская область</option>
					<option value="pushkin">Пушкин</option>
				</select>
			</fieldset>
			<fieldset class="sort__fieldset">
				<legend class="visualy-hidden">Назначение</legend>
				<select class="sort__select">
					<option value="0">Назначение помещения</option>
					<option value="office">Офис</option>
					<option value="stock">Склад</option>
					<option value="production">Производство</option>
					<option value="open">Открытая площадка</option>
					<option value="storeroom">Кладовая</option>
					<option value="workshop">Ремзона</option>
				</select>
			</fieldset>
			<fieldset class="sort__fieldset">
				<legend class="visualy-hidden">Площадь помещения</legend>
				<select class="sort__select">
					<option value="0">Площадь</option>
					<option value="1">От 10м до 70м</option>
					<option value="2">От 70м до 500м</option>
					<option value="3">От 500м до 1000м</option>
					<option value="4">Более 1000м</option>
				</select>
			</fieldset>
			<button class="button sort__button" type="submit">Найти объекты</button>
		</div>
	</form>

</header>